 @font-face {
    font-family: 'Minal';
    src: url('./Minal.otf') format('opentype');
}

/*
body {
    font-family: 'Minal', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
} */


:root{
    --primary:#1A1A1A;
    --secondary:#F9F9F9;
    --gris:#303030;
    --gris-f:#757575;
    --negro:black;
    --blanco:white;

    /* tipografia */
    --Tprincipal: "Minal", serif;
    --Tsecundaria: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    vertical-align: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

video {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    vertical-align: center center;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

::selection{
    background-color: var(--negro);
    color: var(--blanco);
}

form,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size:  inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    display: flex;
    color: inherit;
}

body{
    font-family: var(--Tprincipal);
    font-size: 100%;
    min-height: 100vh;
    
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






.circulos {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    filter: blur(2em);
    animation: circulo1 20s linear infinite both;
}

.circulos .circulo {
    position: absolute;
    width: 50%;
    height: 50%;
    animation: circulo1 100s linear infinite both;
    
}
.circulos .circulo-1{
    top: 0%;
    left: 0%;
    
}
@keyframes circulo1{
    from{
        transform: rotate(0deg) scale(3);
    }
    to{
        transform: rotate(360deg) scale(3);
    }
}
.circulos .circulo-1 .path{
    fill: red;
}
.circulos .circulo-2{
    top: 0%;
    right: 0%;
}
.circulos .circulo-2 .path{
    fill: yellow;
}
.circulos .circulo-3{
    bottom: 0%;
    left: 0%;
}
.circulos .circulo-3 .path{
    fill: blue;
}
.circulos .circulo-4{
    bottom: 0%;
    right: 0%;
}
.circulos .circulo-4 .path{
    fill: green;
}


.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header .nav {
    background-color: rgba(0, 0, 0, 0.267);
    padding: 5px;
    border-radius: 90px;
    margin: auto;
}

.header .nav .ul {
    display: flex;
}



.header .li .a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.736);
    margin: 0rem 0.5rem;
    transition: background-color 0.3s ease; 
}

.header .li .a:hover {
    background-color: #ffffff;
}

.main {
    text-align: center;
    position: relative;
    z-index: 1;
}





/* Inicio */
.seccion1 {
    width: 100%;
    height: 100vh;
}


.seccion1 .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.seccion1 .section .h2 {
    font-size: 180px;
    color: var(--secondary);
    text-align: center;
}

.seccion1 .section .h3 {
    font-size: 30px;
    color: var(--secondary);
}

.seccion1 .section .p {
    color: var(--secondary);
    font-size: 1em;
    font-family: var(--Tsecundaria);
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 55ch;
    padding: 10px; 
}

.seccion1 .section a .cv {
    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 25px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.seccion1 .section a .cv:hover {
    color: var(--primary);
    cursor: pointer;
}




/* Proyectos */
.seccion2 {
    width: 100%;
    height: auto;
}

.seccion2 .h2{
    padding: 1rem;
    font-size: 190px;
    color: var(--secondary);
}
.seccion2 .flex { 
    width: 100%;
    background-color: #f5f5f500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    
}
.seccion2 .flex .article {
    width: 500px;
    height: auto;
    padding: 15px;
}

.seccion2 .flex .article .button {
    background-color: rgba(0, 0, 0, 0);
}

.seccion2 .flex .button img{
    border-radius: 30px;
    margin: auto;   

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: 0 400px ;
    z-index: 1;
    transition: transform 0.5s ease;
    
}

.seccion2 .flex .button img:hover{
    transform: scale(1.1);
}


/* MODAL*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;

}

.modal .modal-content  {
    background-color: var(--primary);
    margin: 8% auto;
    padding: 30px;
    border-radius: 30px;
    width: 50%;
    height: auto;
    z-index: 10;
    min-height: 60%;

}

.modal .modal-content .h3 {
    color: var(--secondary);
    font-size: 3rem;
}

.modal-content .modalSub {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 30px;
}

.modal-content .modalSub .divText {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    
}

.modal-content .modalSub .dicTech {
    display: flex;
    flex-wrap: wrap;
}

.modal-content .modalSub .h3 {
    font-size: 3em;
    color: var(--blanco);
}
.modal-content .modalSub .h4 {
    font-size: 2em;
    color: var(--blanco);
    text-align: start;
    margin: 16px 0;


}
.modal-content .modalSub .p {
    color: var(--blanco);
    font-family: var(--Tsecundaria);
    text-align: left;
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;

}
.modal-content .ul{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.modal-content .ul .li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 40px;
    width: 40px;
    transition: transform .3s;
}
.modal-content .ul .li:hover {
    transform: scale(1.3);

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}









/* sobre mi */
.seccion3 {
    width: 100%;
    height: auto;
  }

  .seccion3 .h2 {
    padding: 0 1em 0 0;
    font-size: 190px;
    color: var(--secondary);
    text-align: end;
    text-wrap: nowrap;
  }
  
  
  .seccion3 .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    padding: 20px;
    margin: 0px 25%;
  }

  .seccion3 .grid .box {

    background-color: rgba(0, 0, 0, 0.2); 

    padding: 2rem; 
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: 0 400px ;
  }
  
  
  .seccion3 .grid .box .h5 {
    margin: 0.5rem 0;
    color: var(--secondary);
    font-size: 2rem; 
  }
  

  .seccion3 .grid .box .p {
    height: 190px;
    font-family: var(--Tsecundaria);
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 55ch;
    color: var(--secondary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    animation: reveal linear both;
    animation-timeline: view();
    animation-range: 0 400px ;
  }

  .seccion3 .footer {
    margin: auto;
    font-family: var(--Tprincipal);
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 80ch;
    color: var(--secondary);
    text-align: center;
  }
  




 
/* habilidades */
.seccion4 {
    
    width: 100%;
    height: 100%;
}

.seccion4 .h2 {

    font-size: 180px;
    color: var(--secondary);
    text-align: start;
    
}

.seccion4 .flex2 {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.seccion4 .flex2 .subdiv {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    border-radius: 30px;


    animation: reveal linear both;
    animation-timeline: view();
    animation-range: 0 400px ;
}

.seccion4 .flex2 .subdiv .h5 {
    display: inline;
    width: 260px;
    color: var(--secondary);
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.seccion4 .flex2 .subdiv .ul {
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    font-family: var(--Tsecundaria);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}

.seccion4 .flex2 .subdiv .ul .li {
    margin: 0.5rem 0px;
    font-family: var(--Tsecundaria);
    color: var(--secondary);
}






/* coctactame */
.seccion5{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}



.seccion5 .h2{
    padding: 1rem;
    font-size: 190px;
    color: var(--secondary);
    text-align: center;
}

.seccion5 .ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.seccion5 .ul .li .a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary); 
    margin: 0rem 0.5rem;
    transition: all 0.3s ease; 
}

.seccion5 .li .a:hover {

    scale: 1.5;
}


/*Footer*/
.seccion5 .footer {
    width: 100%;
    background-color: #303030;
    text-align: end;
    padding:  0 0.5rem;
}

.seccion5 .footer .span {
    font-family: var(--Tsecundaria);
    font-size: 14px;
    color: var(--blanco);
}


.separator{
    width: 100%;
    height: 300px;
}







@media only screen and (max-width: 930px) {
    .seccion5 .h2,.seccion3 .h2,.seccion4 .h2,.seccion2 .h2{
      font-size: 130px;
    }
    .seccion1 .section .h2 {
        font-size: 100px;
    } 
    
  }



  @media only screen and (max-width: 670px) {
    .seccion5 .h2,.seccion3 .h2,.seccion4 .h2,.seccion2 .h2{
      font-size: 70px;
    }
    .seccion1 .section .h2 {
        font-size: 50px;
    }
    .seccion3 .grid {
        margin: auto;

      }
    .seccion4 .flex2 .subdiv .ul {

        font-size: 0.8rem;

    }
    .seccion2 .flex .article {
        width: 400px;
        height: auto;
        padding: 15px;
    }
    .seccion4 .flex2 .subdiv {
        width: 400px;
        margin: 15px 0 0 0;
    }
  }

  
@media only screen and (min-width: 300px) and (max-width: 450px) {
    .seccion1 .section .p {
    font-size: 1em;
    font-family: var(--Tsecundaria);
    overflow-wrap: break-word;
    max-width: 37ch;
    padding: 10px;
    }
    
    .seccion2 .flex .article {
        width: 200px;
        height: auto;
        padding: 15px;
    }

    .seccion4 .flex2 .subdiv {
        width: 300px;
        margin: 15px 0 0 0;
    }

    .modal .modal-content {
        margin: 5% auto;
        width: 90%;
    }

    .modal-content .modalSub {
        gap: 10px;
    }

    .modal-content .modalSub .divText {
        gap: 5px;
    }

    .modal-content .ul .li {
        height: 20px;
        width: 20px;
    }
  }



@keyframes reveal{
    from{
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}






